{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
<br>
<h1>Home Page </h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Ronaldo was far from a Perez favourite, which may come as a shock. The pair were involved in issues behind the scenes, which on occasion were aired in public. The relationship grew strained in the final year after it is claim a contract promise was not delivered on following Madrid's Champions League success in Cardiff in 2017.
                After their victory in Kyiv a year later, Ronaldo spoke openly about pursuing pastures new. Those comments were not well received by Perez, who said: "Now is not the time for individual issues; the club is more important than anyone. I am glad he has five European Cups, like me. The same thing is heard every summer and then nothing happens."
            </p>
            <p>Visit us at our website <a href="https://www.realmadrid.com/en" >real madrid</a>
            </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Post
                    &raquo;</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}